.home {
    background-color: #f7f7f7;
    border-radius: 3.15rem;
}

.home .homeTable{
    padding: 1.5rem 2.5rem 6.25rem;
}

.backgroundContainerHeader {
    background: #00A091;
    height: 70%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.boxTituloCardFuncionalidade {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color:#fff;
}

.subTitle {
    font-size: 40px;
    color:#fff;
    font-weight: 300;
    padding-top: 20px;
}